/*1*/
p {
  color: black;
} /*(0,0,1)*/

/*2*/
p::first-letter {
  color: gray;
} /*(0,0,2)*/

/*3*/
.text {
  color: blue;
} /* (0,1,0) */

/*4*/
.highlight {
  color: green;
} /* (0,1,0) */

/*5 */
p.text {
  color: orange;
} /* (0,1,1) */

/*6 */
.text.highlight {
  color: pink;
} /* (0,2,0) */

/*7 */
p.text.highlight {
  color: purple;
} /* (0,2,1) */

/*8 */
#demo {
  color: red;
} /* (1,0,0) */

/* 9*/
#demo.text {
  color: brown;
} /* (1,1,0) */

/*10 */
#demo.text.highlight {
  color: gold;
} /* (1,2,0)*/
